
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="~/images/logo.gif" sizes="196x196" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Manu Costume</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/bun-Js-jquery")

    <style type="text/css">
        .navbar a {
            color: white;
        }
    </style>
</head>
<body style="background-color: #47b2b8;overflow-x:hidden;font-size:medium">
    
                <div class="row col-lg-10 mx-auto">
                    <nav class="navbar navbar-expand mx-auto border-bottom">
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            @*<li class="nav-item px-3">
                                    <a href="#" target="_blank"><img src="~/manu/amazon.gif" border="0"></a>
                                </li>*@
                            <li class="nav-item px-4">
                                <a href="#" target="_blank"><img src="~/manu/snapdealindian.gif" border="0"></a>
                            </li>

                            <li class="nav-item px-3">
                                <a href="//api.whatsapp.com/send?phone=9700724233&text=Hi please call me" target="_blank"><img src="~/images/ezgif.com-gif-maker.gif" width="162" height="32" border="0"></a>
                            </li>
                            <li style="color:white;font-weight:bold">Follow Us</li>
                            <li class="nav-item px-3">
                                <a href="#" target="_blank"><img src="~/manu/facebook.png" border="0"></a>
                            </li>
                            <li class="nav-item px-3">
                                <a href="https://youtube.com/channel/UCZaWeE2SgCakl_i9KLetsFw" target="_blank"><img src="~/manu/youtube.png" border="0"></a>
                            </li>


                        </ul>
                    </nav>

                </div>
                <div class="clearfix"></div>
                <img src="/images/transfern.png" class="position-absolute" style="left: 141px;height: 181px;width: 223px;z-index:99999;">
                @*<img src="~/images/transfern.png" class="position-absolute" style="width:160px;z-index:99999" />*@
                <div class="col-lg-10 mx-auto bg-white">

                    <div style="height: 175px; background-color:#47b2b8; border: 1px solid white;">

                        <div id="carouselImageView" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="carousel-caption d-md-block">
                                    </div>
                                    <div class="d-block w-100" style="height:180px;">
                                        <div class="text-center m-auto" style="height:inherit;">
                                            @*<img src="~/Banner/adarsh-banner1.jpg" style="width:100%;height:100%;" />*@
                                            <img src="~/Gallery/IMG-20180417-WA0003.jpg" style="width:100%;height:150%;" />
                                        </div>

                                    </div>
                                </div>

                                <div class="carousel-item" data-bs-interval="5000">
                                    <div class="d-block w-100" style="height: 180px;">
                                        <div class="text-center m-auto" style="height:inherit;">
                                            @*<img src="~/Banner/adarsh-banner2.jpg" style="width:100%;height:100%;" />*@
                                            <img src="~/Gallery/IMG-20180417-WA0001.jpg" style="width: 100%; height:150%;" />
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item" data-bs-interval="5000">
                                    <div class="d-block w-100" style="height: 180px;">
                                        <div class="text-center m-auto" style="height:inherit;">
                                            @*<img src="~/Banner/adarsh-banner3.jpg" style="width:100%;height:100%;" />*@
                                            <img src="~/Gallery/IMG-20180807-WA0026.jpg" style="width: 100%; height:150%;" />
                                        </div>
                                    </div>

                                </div>

                                <div class="carousel-item" data-bs-interval="5000">
                                    <div class="d-block w-100" style="height: 180px;">
                                        <div class="text-center m-auto" style="height:inherit;">
                                            @*<img src="~/Banner/adarsh-banner4.jpg" style="width:100%;height:100%;" />*@
                                            <img src="~/Gallery/IMG-20181104-WA0020.jpg" style="width: 100%; height:150%;" />
                                        </div>
                                    </div>

                                </div>

                                <div class="carousel-item" data-bs-interval="5000">
                                    <div class="d-block w-100" style="height: 180px;">
                                        <div class="text-center m-auto" style="height:inherit;">
                                            @*<img src="~/Banner/adarsh-banner5.jpg" style="width:100%;height:100%;" />*@
                                            <img src="~/Gallery/IMG-20181104-WA0022.jpg" style="width: 100%; height:150%;" />
                                        </div>
                                    </div>

                                </div>

                                <div class="carousel-item" data-bs-interval="5000">
                                    <div class="d-block w-100" style="height: 180px;">
                                        <div class="text-center m-auto" style="height:inherit;">
                                            @*<img src="~/Banner/adarsh-banner6.jpg" style="width:100%;height:100%;" />*@
                                            <img src="~/Gallery/IMG_1444.jpg" style="width: 100%; height:150%;" />

                                        </div>
                                    </div>

                                </div>

                                <div class="carousel-item" data-bs-interval="5000">
                                    <div class="d-block w-100" style="height: 180px;">
                                        <div class="text-center m-auto" style="height:inherit;">
                                            @*<img src="~/Banner/adarsh-banner7.jpg" style="width:100%;height:100%;" />*@
                                            <img src="~/Gallery/IMG_1451.jpg" style="width: 100%; height:150%;" />

                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <div class="d-block w-100" style="height: 180px;">
                                        <div class="text-center m-auto" style="height:inherit;">
                                            @*<img src="~/Banner/adarsh-banner8.jpg" style="width:100%;height:100%;" />*@
                                            <img src="~/Gallery/download.jpg" style="width: 100%; height:150%;" />
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="background-color:  #47b2b8">
                            <nav class="navbar navbar-expand mx-auto border-bottom" style="font-weight:bold">
                                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/Home/Index">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/Home/AboutUS">ABOUT US</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/Home/Arangetram">ARANGETRAM</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="~/Home/Measurmentpdf">MEASURMENT FORM</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/Home/Services">SERVICES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/Home/ContactUs">CONTACT US</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="background-color:  #47b2b8">
                            <div class="p-1">
                                <div class="text-center">
                                    <h5 style="color:white;font-weight:bold">BUY Clasical Dance Constumes</h5>
                                </div>
                                <div>
                                    <nav class="navbar" style="font-weight:bold">
                                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                                            <li class="nav-item shadow active">
                                                <a class="nav-link" href="/Home/Kuchipud">Kuchipud</a>
                                            </li>
                                            <li class="nav-item shadow active">
                                                <a class="nav-link" href="/Home/bharatanatyam">bharatanatyam</a>
                                            </li>
                                            <li class="nav-item shadow active">
                                                <a class="nav-link" href="/Home/Ornaments">Ornaments</a>
                                            </li>
                                            <li class="nav-item shadow active">
                                                <a class="nav-link" href="/Home/MakeupKit">Makeup-Kit</a>
                                            </li>
                                            <li class="nav-item shadow active">
                                                <a class="nav-link" href="/Home/Adrdanareshwar">Ardhanareeswara</a>
                                            </li>
                                            <li class="nav-item shadow active">
                                                <a class="nav-link" href="/Home/StageProgram">Stage Performance</a>
                                            </li>
                                            <li class="nav-item shadow active">
                                                <a class="nav-link" href="/Home/GroupDance">Group Dance</a>
                                            </li>
                                            <li class="nav-item shadow active">
                                                <a class="nav-link" href="/Home/Kirshnadress">Kids classic</a>
                                            </li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            @RenderBody()
                        </div>
                    </div>
                </div>


                <div class="container body-content" style="text-align:center">
                    <hr />
                    <footer>
                        <h4>&copy; @DateTime.Now.Year - Manu Costume Designer</h4>
                    </footer>
                </div>

</body>
</html>